<div class="flex flex-col justify-center items-center min-h-[calc(100vh-150px)] px-4">

  <form class="bg-white w-full max-w-sm mx-auto px-6 py-8 flex flex-col justify-center text-center border-none rounded-2xl shadow-lg ring-2 ring-green-300 focus-within:ring-gray-300 transition-all"
        [formGroup]="registerForm"
        (ngSubmit)="onSubmit()"
        >

    <h1 class="text-2xl md:text-3xl mb-4 md:mb-5 font-bold">Registro</h1>

    <input type="text" placeholder="Usuario" formControlName="userName"
           class="border-none rounded-xl ring-2 ring-gray-500 focus:ring-gray-300 focus:ring-2 px-4 py-3 md:py-2 my-2 md:my-3 placeholder-gray-500 bg-transparent outline-none">

    <input type="text" placeholder="Nombre" formControlName="name"
           class="border-none rounded-xl ring-2 ring-gray-500 focus:ring-gray-300 focus:ring-2 px-4 py-3 md:py-2 my-2 md:my-3 placeholder-gray-500 bg-transparent outline-none">

    <input type="email" placeholder="Email" formControlName="email"
             class="border-none rounded-xl ring-2 ring-gray-500 focus:ring-gray-300 focus:ring-2 px-4 py-3 md:py-2 my-2 md:my-3 placeholder-gray-500 bg-transparent outline-none">

    <input type="password" placeholder="Password" formControlName="password"
           class="border-none rounded-xl ring-2 ring-gray-500 focus:ring-gray-300 focus:ring-2 px-4 py-3 md:py-2 my-2 md:my-3 placeholder-gray-500 bg-transparent outline-none">

    <input type="password" placeholder="Confirmar Password" formControlName="confirmPassword"
           class="border-none rounded-xl ring-2 ring-gray-500 focus:ring-gray-300 focus:ring-2 px-4 py-3 md:py-2 my-2 md:my-3 placeholder-gray-500 bg-transparent outline-none">

    <label for="" class="flex justify-start">Interesado en..</label>

    <div class="grid grid-cols-2">
      @for (hobby of hobbyList; track hobby) {
        <div class=" flex flex-row gap-5 justify-end">
          <label [for]="hobby"> {{ hobby }}</label>
          <input type="checkbox" [checked]="isHobbySelected(hobby)" (change)="toggleHobby(hobby)">

        </div>
      }

    </div>

    <button type="submit" [disabled]="isLoading()"
            class="border-pink-500 border-2 rounded-3xl shadow-lg hover:shadow-2xl hover:scale-105 hover:bg-pink-200
                   hover:text-gray-950 transition-all duration-300 cursor-pointer px-4 py-3 md:py-2 text-black my-4 font-semibold">Regístrate</button>



    @if (successMessage()) {
    <div class="success">{{ successMessage() }}</div>
  }

    @if (errorMessage()) {
      <div class="bg-red-500/20 border border-red-500 text-red-400 px-4 py-3 rounded-lg mb-4 text-sm">
        {{ errorMessage() }}
      </div>
    }

    <div class="text-sm md:text-base">
      <span class="text-gray-500">Ya tienes una cuenta? </span>
      <a routerLink="/login" class="font-semibold text-pink-500 hover:underline">Inicia sesión</a>
    </div>

  </form>
</div>
