<app-navbar />

<router-outlet />

<app-cart />

<app-footer></app-footer>

@if (toastService.currentToast(); as toast) {
  <div class="fixed top-24 right-6 z-[100] animate-fade-in-down">
    <div
      class="px-6 py-4 rounded-sm shadow-xl flex items-center gap-3 backdrop-blur-md min-w-[300px] border border-white/10"
      [class.bg-matcha]="toast.type === 'success'"
      [class.text-stone-900]="toast.type === 'success'"
      [class.bg-red-500]="toast.type === 'error'"
      [class.text-white]="toast.type === 'error'"
      [class.bg-stone-800]="toast.type === 'info'"
      [class.text-white]="toast.type === 'info'">

      @if (toast.type === 'success') {
        <svg class="w-5 h-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" /></svg>
      } @else if (toast.type === 'error') {
        <svg class="w-5 h-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" /></svg>
      }

      <p class="text-[10px] font-bold tracking-[0.2em] uppercase">{{ toast.message }}</p>
    </div>
  </div>
}
